.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: auto;
    top: 0 !important;
    left: 0;
    width: 100%;
}
.swiper-pagination-bullet {
    width: 5px;
    height: 5px;
    display: inline-block;
    border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
    background: #FF5A81;
    opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2);
}
.swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: #FF5A81;
    width: 10px;
    height: 10px;
}
  